<strong>Hello, {{ provider }}</strong>
<p>An appointment has been recently cancelled, please see the details below:</p>
<p>
  <strong>Client: </strong> {{ user }} <br>
  <strong>Scheduled: </strong> {{ date }} <br>
  <br>
  <small>
    The schedule above is now available.
  </small>
</p>
